<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Library</a>
                    </li>
                    <li class="active">Data</li>
                </ul>
                <h1>
                    Heading
                    <button class="btn btn-default" ng-if="isOwner && !editable" ng-click="setEditable()">Edit</button>
                    <button class="btn btn-default" ng-if="isOwner && editable" ng-click="updateProfile(user)">Save</button>
                </h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-9">                            
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Profil</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li ng-hide="editable" class="list-group-item">Nama: {{user.name}}</li>
                                        <li ng-show="editable" class="list-group-item">Nama: <input class="form-control" name="name" ng-model="user.name" /></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                  <h3 class="panel-title">Programming profile</h3>
                                </div>
                                <div class="panel-body">
                                    <span class="panel-header strong">Bahasa pemrograman yang disukai</span>
                                    <ul class="list-group">
                                        <li ng-show="editable && user.language_code.length < 5" class="list-group-item">
                                            <input class="form-control" name="songs" ng-model="varcode" />
                                            <button class="btn btn-default" ng-click="addToArray(user.language_code, varcode)">Tambah</button>
                                        </li>
                                        <li class="list-group-item" ng-repeat="code in user.language_code track by $index">
                                            {{code || 'None'}}
                                            <a href="" ng-show="editable" ng-click="removeFromArray(user.language_code, $index)" class="glyphicon glyphicon-remove"></a>
                                        </li>
                                    </ul>
                                    <span class="panel-header strong">Level</span>
                                    <ul class="list-group">
                                        <li ng-hide="editable" class="list-group-item">{{user.level || ''}}</li>
                                        <li ng-show="editable" class="list-group-item" >
                                            <select class="form-control" name="level" ng-model="user.level">
                                                <option class="">Junior</option>
                                                <option class="">Senior</option>
                                                <option class="">Expert</option>
                                                <option class="">Ninja</option>
                                                <option class="">Master</option>
                                                <option class="">Monster</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <span class="panel-header strong">Platform yang disukai</span>
                                    <ul class="list-group">
                                        <li ng-hide="editable" class="list-group-item">{{user.product_interest || 'None'}}</li>
                                        <li ng-show="editable" class="list-group-item" >
                                            <select class="form-control" name="product_interest" ng-model="user.product_interest" >
                                                <option class="">Desktop</option>
                                                <option class="">Mobile</option>
                                                <option class="">Website</option>
                                                <option class="">IoT</option>                                                
                                            </select>
                                        </li>
                                    </ul>
                                    <span class="panel-header strong">Lagu yang disukai saat coding</span>
                                    <ul class="list-group">
                                        <li ng-show="editable && user.songs.length < 5" class="list-group-item">
                                            <input class="form-control" name="songs" ng-model="varsong" />
                                            <button class="btn btn-default" ng-click="addToArray(user.songs, varsong)">Tambah</button>
                                        </li>
                                        <li class="list-group-item" ng-repeat="song in user.songs track by $index">
                                            {{song || 'None'}}
                                            <a href="" ng-show="editable" ng-click="removeFromArray(user.songs, $index)" class="glyphicon glyphicon-remove"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                            
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                  <h3 class="panel-title">Atur ulang password</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

                                        <div class="form-group">
                                          <label>Current Password</label>

                                          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                                                 mongoose-error/>
                                          <p class="help-block" ng-show="form.password.$error.mongoose">
                                              {{ errors.other }}
                                          </p>
                                        </div>

                                        <div class="form-group">
                                          <label>New Password</label>

                                          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                                                 ng-minlength="3"
                                                 required/>
                                          <p class="help-block"
                                             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                                            Password must be at least 3 characters.
                                          </p>
                                        </div>

                                        <p class="help-block"> {{ message }} </p>

                                        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
                                      </form>
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div>
                            <a href="" data-toggle="modal" data-target="#uploadPhoto">
                              <img src="{{ user.path }}" width="200px" height="200px" class="img-circle" />                              
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadPhoto" tabindex="-1" role="dialog" aria-labelledby="uploadPhoto" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Unggah Photo</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="form" ng-submit="upload(form)" id="fileInput" novalidate>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="file" class="control-label">Pilih photo</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" file name="photo" file-model="form.photo" required>
                        </div>
                    </div>                    
                    <div class="form-group" ng-show="showCropSection">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="cropArea">
                          <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                        </div>
                        <div>Cropped Image:</div>
                        <div><img src="{{myCroppedImage}}" /></div>
                        <button ng-click="upload_pic()">Upload</button>
                      </div>
                    </div>                    
                </form>
            </div>            
        </div>
    </div>
</div>
