<div class="section">
    <div class="container">
        <div class="row">
            <div ncy-breadcrumb></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>HEADING</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">                    
                    <video id="videoPlayer" controls="true"></video>                    
                </div>
            </div>
            <div class="col-md-4">
                <ul>
                    <li ng-repeat="chat in chats">
                        {{chat.user.name}} : {{ chat.content }}
                    </li>                    
                </ul>
                <form class="form-horizontal">
                    <input class="form-control" name="chat" ng-model="chat.content" placeholder="Ketik pesan di sini"></input>
                    <button class="form-control" ng-click="addChat()">Send</button>
                </form>                            
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>{{list.title}}</h2>
                    <p>{{list.info}}.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>