<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Library</a>
                    </li>
                    <li class="active">Data</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>HEADING</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <video width="320" height="240" controls>
                      <source ng-src="{{list.source}}" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
                    <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264"
                          poster="http://video-js.zencoder.com/oceans-clip.png"
                          data-setup='{"example_option":true}'>
                        <!-- <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                        <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                        <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                    </video>
                </div>
            </div>
            <div class="col-md-4">
                <ul>
                    <li ng-repeat="chat in chats">
                        {{chat.user.name}} : {{ chat.content }}
                    </li>                    
                </ul>
                <form class="form-horizontal">
                    <input class="form-control" name="chat" ng-model="chat.content" placeholder="Ketik pesan di sini"></input>
                    <button class="form-control" ng-click="addChat()">Send</button>
                </form>                            
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>{{list.title}}</h2>
                    <p>{{list.info}}.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>