<div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                                ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                                sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                                odio dui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" ng-controller="SignupCtrl">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" name="form" novalidate>
                            <div class="form-group">
                                <label class="control-label" for="exampleInputEmail1">Email address</label>
                                <input class="form-control" id="exampleInputEmail1" name="email" 
                                placeholder="Enter email" type="email" ng-model="user.email" required>
                                <div ng-show="form.email.$error.required && form.email.$dirty" class="alert alert-danger">Email ini harus di isi</div>
                                <div ng-show="form.email.$error.email && form.email.$dirty" class="alert alert-danger">Silahkan masukkan email yang valid</div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exampleInputPassword1">Password</label>
                                <input class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" type="password" ng-model="user.password" minlength="6" maxlength="20" required>
                                <div ng-show="form.password.$error.required && form.password.$dirty" class="alert alert-danger">Password ini harus di isi</div>
                                <div ng-show="form.password.$error.minlength && form.password.$dirty" class="alert alert-danger">Password harus lebih dari 6 karakter</div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exampleInputPassword1">Confirm Password</label>
                                <input class="form-control" id="confirmpassword" name="confirm" placeholder="Confirm Password" type="password" ng-model="user.confirm" required>
                                <div ng-show="form.confirm.$error.required && form.confirm.$dirty" class="alert alert-danger">Confirm password ini harus di isi</div>
                                <div class="alert alert-danger hide confirm-error">Password dan Confirm password tidak sama</div>
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="register(form)" ng-disabled="form.$invalid">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-3 text-center">
                        <a><i class="fa fa-5x fa-fw fa-instagram"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a><i class="fa fa-5x fa-fw fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a ng-click="facebookAuth()"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-3 text-center">
                        <a><i class="fa fa-5x fa-fw fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" -->
                        class="img-responsive">
                        <h2>A title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                    <div class="col-md-3">
                        <!-- <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" -->
                        class="img-responsive">
                        <h2>A title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                    <div class="col-md-3">
                        <!-- <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" -->
                        class="img-responsive img-rounded">
                        <h2>A title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                    <div class="col-md-3">
                        <!-- <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" -->
                        class="img-responsive">
                        <h2>A title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                </div>
            </div>
        </div>